.navbar {
  font-size: 20px;
  font-family: $font-navbar;
  color: $light-color;
  background: linear-gradient(90deg, $dark00, $dark0);
  transition: 1s ease transform;
  margin: 0 auto;
  max-width: 2000px;

  &__header {
    background: linear-gradient(90deg, $dark00, $dark0);
    z-index: 100;
    position: sticky;
    top: 0;
  }

  &__logo {
    cursor: pointer;
    padding: 20px 5%;
    &--img {
      width: 130px;
      height: auto;
    }
    @include mq("md") {
      padding: 7px 0 0;
    }
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, $dark00, $dark0);
    li {
      padding: 0.8em;
      cursor: pointer;
      font-size: 30px;
      :hover {
        border-bottom: 2px solid $blueMainColor;
        transition: 0.2s ease;
      }
    }

    &--languageSwitch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 35px;
      padding: 5px 0;

      @include mq("md") {
        width: 20px;
        height: 20px;
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      &--slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../../assets/germany-flag1.jpg");
        background-size: cover;
        border-radius: 50%;
        border: 1px solid $light-color;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }

      input:checked + &--slider {
        background: url("../../assets/us-flag.jpeg");
        background-size: cover;
      }
    }

    @include mq("md") {
      position: relative;
      height: 1em;
      flex-direction: row;
      background: none;
      li {
        padding: 0.4em;
        font-size: 20px;
      }
    }

    @include mq("lg") {
      li {
        padding: 1em;
        font-size: 20px;
      }
    }
  }

  &__items--hide {
    display: none;
    @include mq("md") {
      display: inherit;
    }
  }

  &__content-toggle {
    @include mq("md") {
      display: none;
    }
  }

  &__hamburger {
    position: absolute;
    top: 20px;
    right: 5%;
    font-size: 2em;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 5%;
    font-size: 2em;
    cursor: pointer;
  }

  @include mq("md") {
    @include flexy($dir: row, $align: center, $just: space-between);
    height: 80px;
    padding: 0 5%;
  }

  @include mq("lg") {
    padding: 0 10%;
  }
}

/*
width: 100%;
    height: 80px;
    padding: 0 10%;
    font-size: 20px;
    font-family: $font-navbar;
    color: $light-color;
    background: $dark0;
    @include flexy($just:space-between, $align:center);
    &__items{
        @include flexy($dir: row);
        li{
            padding: 0 10px;
            cursor: pointer;
        }
    }

    &__hamburger{
        font-size: 2em;
        cursor: pointer;
    }
*/
