* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Wallpoet&display=swap");

.app {
    display: grid;
    place-items: center;
    height: 100vh;
}

.app-body {
    overflow: hidden;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #218380;
    color: #fff;
    border-radius: 5px 5px 0 0;

    h1 {
        margin: 0 auto;
        font-family: 'Bungee Shade';
    }
}

.app-header__stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 35px;

    span {
        padding: 5px;
    }

    font-size: large;
}

.app-header__stopwatch {
    width: 250px;
    text-align: center;
    padding: 30px 0;
    background-color: #1c7471;
}

.app-header__stopwatch-display{
    font-family: "Roboto";
    margin: 10px 0;
    font-size: 35px;
}

.app-header__stopwatch-buttons{
    button{
        padding: 5px 0;
        width: 70px;
        margin: 5px 15px;

        border: none;
        border-radius: 5px;
        background-color: #73d2de;
            color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;


        &:hover {
            background-color: #d81159;
            color: white;
        }

        &:active {
            background-color: #ffbc42;
            color: black;
        }

    }
}

.main__container {
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.main__container-player-icon {
    padding: 10px;
    font-size: 30px;
    color: lightgray;
}

.close {
    padding: 0 30px;

    &:hover {
        color: #d81159;
        cursor: pointer;
    }
}

.best-crown {
    color: #ffbc42;
}

.main__container-player {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
}

.main__container-player-name {
    margin-right: auto;
    margin-left: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

.main__container-player-buttons {
    width: 250px;
    display: flex;
    align-items: center;

    .score {
        padding: 0 35px;
        font-size: 30px;
        font-family: "Bungee Shade" !important;
        width: 56px;
        text-align: center;
    }

    span {
        font-size: 20px;

        &:first-child,
        &:last-child {
            background-color: #73d2de;
            color: white;
            font-size: 35px;
            padding: 25px 21px;
            cursor: pointer;

            &:hover {
                background-color: #d81159;
                color: #fff;
            }

            &:active {
                color: gray;
                background-color: lightgrey;
            }
        }

        &:first-child {
            padding: 25px;
        }
    }
}

.add-player {
    background-color: #218380;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        outline: none;
        padding: 10px;
        width: 70%;
        height: 30px;
        margin: 0 10px;
        background-color: #1c7471;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 20px;

        &::placeholder {
            color: rgba(223, 223, 223, 0.6);
            text-transform: uppercase;
        }
    }

    button {
        padding: 17px 40px;
        border: none;
        border-radius: 5px;
        background-color: #1c7471;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #ffbc42;
            color: black;
        }

        &:active {
            background-color: #d81159;
            color: white;
        }
    }
}